* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    background-color: hsl(0, 0%, 85%);
    background-color: #2b3033;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: inset 0 0 0 5px #4861ec;
}

.box {
    width: 250px;
    height: 250px;
    background-color: #4861ec;
    box-shadow: 0 0 0px 15px #353f6d;
    margin: 20px;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
}

.container img {
    width: 100%;
    width: 25%;
    height: auto;
    transition: all 1s linear;
}

.container img:hover {
    /* transform: translateX(500px); */
    /* translateX goes right left */
    /* transform: translateY(500px); */
    /* translateY goes up and down */
    /* translate: 500px 200px; */
    /* scale: 0.6; */
    /* transform: skew(20deg); */
    rotate: -20deg;
    /* transform-origin: left; */
    transform-origin: right;
}